body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #cf1a1ac0;
    box-shadow: 0 0 10px rgba(138, 24, 24, 0.712);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 80%;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.items-list {
    margin-top: 20px;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    padding: 10px;
    bac
}